@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "roboto";
    background-color: rgb(219, 236, 250);

}
*{
    margin: 0;
    padding: 0;


    box-sizing: border-box;
}
.nav_logo{
    width: 3rem;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    margin-left: 100px;


}

img{
    width: 100%;
    object-fit: cover;
    display: block;

}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}